
body {
    background-image: url(/Users/adityakuchekar/Downloads/pro2.jpg);
    background-position-x: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white; /*This changes Font colour to white */
    padding: 10px;
    max-height: 100%;
}

/*job page */
.category-tile {
    position: relative;
    border: 2px solid #3F0C1F;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto 15px;
}

    .category-tile span {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        text-align: center;
        font-size: 1.2em;
        text-transform: uppercase;
        background-color: #000;
        color: #fff;
        opacity: .8;
    }

    .category-tile:hover {
        box-shadow: 0 1px 5px 1px #cccccc;
    }



#menu-categories-title + div {
    margin-bottom: 50px;
    color: dimgray;
}/*Job page over*/

/*job description page*/

#menu-categories-title + div {
    margin-bottom: 50px;
    color: dimgray;
}

.menu-item-tile {
    margin-bottom: 25px;
    position: relative;
}

    .menu-item-tile hr {
        width: 80%;
    }

.menu-item-tile, .menu-item-price {
    font-size: 1.1em;
    text-align: center;
    margin-top: -15px;
    margin-right: -15px;
}

    .menu-item-tile .menu-item-price span {
        font-size: .6em;
    }

.menu-item-photo {
    position: relative;
    border: 2px solid #3F0C1F;
    overflow: hidden;
    padding: 0;
    margin-right: -15px;
    margin-left: auto;
    margin-bottom: 20px;
    max-width: 250px;
}

    .menu-item-photo div {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 80px;
        background-color: gold;
        text-align: center;
    }

.menu-item-description {
    padding-right: 30px;
}

h3 .menu-item-tile {
    margin: 0 0 10px;
}

.menu-item-details {
    font-size: .9em;
    font-style: italic;
}
/*jobs description page ends*/



/*Header section*/
#header {
    padding: 30px 0;
    height: 92px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}

    #header.header-scrolled {
        background: rgba(0, 0, 0, 0.9);
        padding: 20px 0;
        height: 72px;
        transition: all 0.5s;
    }

    #header #logo {
        float: left;
    }

        #header #logo h1 {
            font-size: 34px;
            margin: 0;
            padding: 0;
            line-height: 1;
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            letter-spacing: 3px;


        }

            #header #logo h1 a,
            #header #logo h1 a:hover {
                color: #fff;
                padding-left: 10px;
                border-left: 4px solid #18d26e;
            }

        #header #logo img {
            padding: 0;
            margin: 0;
        }
/*navigation bar*/
.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .nav-menu ul {
        position: absolute;
        display: none;
        top: 100%;
        left: 0;
        z-index: 99;
    }

    .nav-menu li {
        position: relative;
        white-space: nowrap;
    }

    .nav-menu > li {
        float: left;
    }

    .nav-menu li:hover > ul,
    .nav-menu li.sfHover > ul {
        display: block;
    }

    .nav-menu ul ul {
        top: 0;
        left: 100%;
    }

    .nav-menu ul li {
        min-width: 180px;
    }



/* Nav Meu Container */

#nav-menu-container {
    float: right;
    margin: 0;
}

/* Nav Meu Styling */

.nav-menu a {
    padding: 0 8px 10px 8px;
    text-decoration: none;
    display: inline-block;
    color:#fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.nav-menu li:hover > a,
.nav-menu  > a {
    color: salmon;
}

.menu-active > a{
    color:crimson ;
} 

.nav-menu > li {
    margin-left: 10px;
}

.nav-menu ul {
    margin: 4px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;
}

    .nav-menu ul li {
        transition: 0.3s;
    }

        .nav-menu ul li a {
            padding: 10px;
            color: #333;
            transition: 0.3s;
            display: block;
            font-size: 13px;
            text-transform: none;
        }

        .nav-menu ul li:hover > a {
            color:salmon;
        }

    .nav-menu ul ul {
        margin: 0;
    }

#header #logo h1 {
    font-size: 28px;
}

#header #logo img {
    max-height: 40px;
}
/*nav menu styling ends*/

/*Header ends*/

/*Intro section (Home page)*/
#intro h2 {
    font-size: 28px;
}

#intro {
    display: table;
    width: 100%;
    height: 100%;
    background: #000;
}

    #intro .carousel-item {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

        #intro .carousel-item::before {
            content: '';
            background-color: rgba(0, 0, 0, 0.7);
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
        }

    #intro .carousel-container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        max-height:100%;
    }

    #intro .carousel-background img {
        max-width: 100%;
    }

    #intro .carousel-content {
        text-align: center;
    }

    #intro h2 {
        color: #fff;
        margin-bottom: 30px;
        font-size: 48px;
        font-weight: 700;
        
    }

    #intro p {
        width: 80%;
        margin: 0 auto 30px auto;
        color: #fff;
    }

    #intro .carousel-fade {
        overflow: hidden;
    }

        #intro .carousel-fade .carousel-inner .carousel-item {
            transition-property: opacity;
            max-height:100%
        }

        #intro .carousel-fade .carousel-inner .carousel-item,
        #intro .carousel-fade .carousel-inner .active.carousel-item-left,
        #intro .carousel-fade .carousel-inner .active.carousel-item-right {
            opacity: 0;
        }

        #intro .carousel-fade .carousel-inner .active,
        #intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
        #intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
            opacity: 1;
            transition: 0.5s;
        }

            #intro .carousel-fade .carousel-inner .carousel-item-next,
            #intro .carousel-fade .carousel-inner .carousel-item-prev,
            #intro .carousel-fade .carousel-inner .active.carousel-item-left,
            #intro .carousel-fade .carousel-inner .active.carousel-item-right {
                left: 0;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }

    #intro .carousel-control-prev,
    #intro .carousel-control-next {
        width: 10%;
    }

    #intro .carousel-control-next-icon,
    #intro .carousel-control-prev-icon {
        background: none;
        font-size: 32px;
        line-height: 1;
    }

    #intro .carousel-indicators li {
        cursor: pointer;
    }

    #intro .btn-get-started {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 8px 32px;
        border-radius: 50px;
        transition: 0.5s;
        margin: 10px;
        color: #fff;
        background: #18d26e;
    }

        #intro .btn-get-started:hover {
            background: #fff;
            color: #18d26e;
        }

h1,h2,h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}

a {
    color: lightcoral; /*This changes text colour within a tag gray*/
    text-decoration: none;
}

.thin_border {
    border: 1px solid black; /*this class give 1px border having black colour*/
}

a:hover {
    color:bisque; /*change hyperlink colour when pointer points on it */
    background:white; /*change background of hyperlink to white colour when pointed by pointer*/
}

a[href] {
    text-decoration: underline;
}

.greenlink:hover {
    color:black; /*change hyperlink colour when pointer points on it (for hyperlink which uses hreenlink class)*/
    background:gray; /*change background of hyperlink to white colour when pointed by pointer(for hyperlink which uses hreenlink class)*/
}

h1 {
    font-size: 50pt; /*change size of text in h1 tag to 50pt*/
}
h2 {
    color:black;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
}

.indent {
    margin-left: 30px; /*shifts margin by 30px*/
}

.gap_below {
    margin-bottom: 25px;
}

/*Home page ends*/

/*footer*/
.panel-footer {
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #222;
    border-top: 0;
}

    .panel-footer div.row {
        margin-bottom: 35px;
    }

#Hours, #Address {
    line-height: 2;
}

    #Hours > span, #Address > span {
        font-size: 1.3em;
    }

    #Address p {
        color: #557c3e;
        font-size: .8em;
        line-height: 1.8;
    }

#testimonials {
    font-style: italic;
}

    #testimonials a:nth-child(2) {
        margin-top: 25px;
    }
/*Footer ends*/


/*responsive web page*/

@media(min-width:50px) {
    .responsive {
        display: inline-block; /*to form responsive webpage*/
        width: 100%;
        padding: 10%;
        margin: 10px;
    }
}

@media(min-width:250px) {
    .responsive {
        display: inline-block; /*to form responsive webpage*/
        width: 200%;
    }
}

@media(min-width:350px) { /*to form responsive webpage*/
    .responsive {
        display: inline-block;
        width: 300%;
        border: 1px solid black; /*forms outline of table*/
    }
}

@media(max-width:767px) {

    .navbar-brand {
        color: AppWorkspace;
        padding-top: 10px;
    }

        .navbar-brand h1 {
            padding-top: 10px;
        }

        .navbar-brand p {
            color: white;
            font-size: .6em;
            margin-top: 12px;
        }

            .navbar-brand p span {
                vertical-align: middle;
            }



    #collapsable-nav a span {
        font-size: 1em;
    }

    .panel-footer section {
        margin-bottom: 30px;
        text-align: center;
    }

        .panel-footer section:nth-child(3) {
            margin-bottom: 0;
        }

        .panel-footer section hr {
            width: 50%
        }

    #menu-tile, #specials-tile {
        width: 260px;
        margin: 0 auto 15px;
    }

    .menu-item-photo {
        margin-right: auto;
    }




    .menu-item-description {
        text-align: center;
    }
}

@media(max-width:479px) {
    .navbar-brand h1 {
        padding-top: 5px;
        font-size: 6vw;
    }

    .col-xxs-12 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
        width: 100%;
    }

    .menu-item-photo {
        margin-right: auto;
    }

    .menu-item-description {
        text-align: center;
    }
}


@-webkit-keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*responsive web page ends*/
